*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 12px; */
    background-color: #fff;
    padding: 10px;
    /* border-radius: 5px; */
    border: 2px solid ;
}

#content{
    border: 2px solid #212121;
    background-color: rgb(231, 230, 230);
    border-radius: 5px;
    padding: 10px 50px;
    color: black;
    font-weight: bold;
    margin: 2px;
}

a:link{
    text-decoration: none;
    
}
